.principal  {
    background-color: rgb(241, 26, 26)
}

h1 {
text-align:center;
}

p {
    text-align: center;
}

#MISSAO {
    color: rgb(54, 165, 165);
    font-size: 17px;
}

#banner {    
    max: width 100%
}
.beneficios-titulo {
   text-align: center;
}

.itens {
    font-style: italic;
}

.beneficios{
    background: #69e673c0;
}